.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  height: 75px;
}

.logo{
  height:50px;
  width: auto;
  transition: all 2s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

.customLink {
  position: relative;
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: color 1s ease;
}

.customLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: translateY(0);
  transition: transform 1s ease;
  opacity: 0;
}

.customLink:hover {
  color: blue;
  font-style: italic;
}

.customLink:hover::after {
  transform: translateY(15px);
  opacity: 100;
}

.name {
  margin-left: 30px;
  position: relative;
  color: white;
  text-decoration: none;
  transition: all 2s ease-in-out;
  font-size: 30px;
  font-family: arizonia;
}

.name:hover {
  transform: scale(1.5);
}

.linksContainer {
  display: flex;
  align-items: center;
}

.menuLinks {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 25px;
}

.hamburger span {
  background: white;
  border-radius: 2px;
  width: 20px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* .hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
} */

/* .hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
} */

.dropdownMenu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .menuLinks {
    display: none;
  }

  .hamburger {
    display: flex;

  }
}
