.navbar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: red;
  width: 50px;
  height: 250px; /* For desktop */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .navbar {
    height: 30vh; /* For mobile */
  }
}

.navLink {
    scroll-behavior: smooth;
  color: white;
  font-size: 24px;
  margin: 10px 0;
  transition:
    transform 0.3s,
    filter 0.3s;
}

.navLink:hover {
  transform: scale(1.2);
}

.navbar:hover ~ * {
  filter: blur(5px);
}
