@import "tailwindcss";

@theme {
  --spacing-header: 3.5rem;
}

html {
  scroll-padding-top: calc(var(--spacing-header) + 0.5rem);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
